name: YUGRAAL APK GENERATOR
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Buildozer
        run: |
          pip install buildozer cython
          sudo apt-get install -y libexport-perl libfile-homedir-perl libfile-which-perl liblist-moreutils-perl libreadonly-perl
      - name: Start APK Cooking
        run: |
          # Isse aapka APK banna shuru ho jayega
          buildozer --version
